.Mainright {
  width: 20%;
  height: 70%;
  margin-top: 32px;
  background-color: var(--bg--color);
  .header-card {
    display: flex;
    align-items: center;
    .header-card__img {
      width: 48px;
      border-radius: 50%;
      margin-right: 12px;
    }
    div {
      .header-card__title {
        font-weight: 700;
      }
      .header-card__title-detail {
        color: var(--font-color-faint);
      }
    }
  }
  .story {
    width: 90%;
    height: 40%;
    margin-top: 12px;
    padding: 0 12px;
    background-color: white;
    border: 2px solid var(--border-color);
    overflow-y: auto;
    .story__header {
      display: flex;
      justify-content: space-between;
      padding: 16px 4px;
      font-size: 14px;
      .story__header__title {
        color: var(--font-color-faint);
      }
      .story__header__menu {
        font-weight: 700;
      }
    }
    .story__user-cards {
      margin: 0;
      padding: 0 4px;
      .story__user-card {
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 14px;
        margin-bottom: 8px;
        .story__user-card__img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 12px;
        }
        div {
          .story__user {
            font-weight: 700;
          }
          .story__user-time {
            color: var(--font-color-faint);
          }
        }
      }
    }
  }
}
