.Article {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 32px;
  background-color: #ffffff;
  border: 2px solid var(--border-color);
  .header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    .header__wrapping {
      display: flex;
      align-items: center;
      justify-content: center;
      .header__avatar {
        width: 32px;
        height: 32px;
        margin-right: 16px;
        border-radius: 50%;
      }
    }
    .header__more {
      width: 18px;
      object-fit: contain;
    }
  }
  .feed__img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
  section {
    padding: 0 12px;
    .content__icons {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      .content__icons__left {
        .content__icon {
          width: 22px;
          margin: 0 8px;
        }
      }
      .content__icons__right {
        .content__icon {
          width: 22px;
          margin: 0 8px;
        }
      }
    }
    .content__like-number {
      display: flex;
      align-items: center;
      .content__like-number__avatar {
        width: 26px;
        height: 26px;
        border-radius: 50%;
      }
      .content__like-number__text {
        margin: 16px 12px;
      }
    }
  }
  .comments {
    height: 100px;
    margin: 4px 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    .comment__row {
      .comment {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 12px;
      }
    }
  }
  .comment__wrapping {
    height: 48px;
    .comment__input {
      position: absolute;
      bottom: 0;
      width: 90%;
      height: 45px;
      border: none;
      border-top: 2px solid var(--border-color);
      padding-left: 12px;
      outline: none;
    }
    .comment__button {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10%;
      height: 45px;
      border: none;
      background-color: white;
      border-top: 2px solid var(--border-color);
      color: #cde5fc;
      outline: none;
      cursor: pointer;
    }
  }
}
