nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    padding: 10px;

    .top-left{
        .camera{
        width: 20px;
        border-right: 1px solid black;
        padding-right: 12px;
        }

        .westa{
        font-family: 'Lobster', cursive;
        font-size: 20px;
        padding-left: 12px;
        font-weight: bold;
        }
    }

    .top-center{
        input{
            text-align: center;
            border: 1px solid gray;
            background-color: #fafafa;
            margin-top: 5px;
        }
    }

    .top-right{
        img{
            width: 20px;
            padding:3px;
        }
    }
}

main{
    display: flex;
    justify-content: space-around;
    background-color: #fafafa;
    padding: 50px 230px;

    .feeds{
        article{
            width: 600px;
            border: 1px solid gray;
        
            .feedstop{
                border: 1px solid gray;
            
                .smilepepe{
                    width: 20px;
                    border: 1px solid gray;
                    border-radius: 100px;
                    margin-top: 3px;
                    margin-left: 5px;
                }
            }
        
            .maskpepe{
                width: 100%;
            }
        
            .feedsbot{
                display: flex;
                justify-content: space-between;
                padding: 0 10px;
            
                img{
                    width: 30px;
                }
            }
        
            .content{
            padding: 0px 20px;
            font-size: 14px;
            flex-direction: column;
        
            .feedsandheart{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
        
                .smallheart{
                    width: 14px;
                    height: 14px;
                }
                
            }
            }

           .inputbtncontainer{
                display: flex;
                flex-direction: column;

                    .commentsList{
                        list-style: none;
                        font-size: 14px;
                        margin: 0;
                        padding: 15px;
                    }

                .inputandbtn{
                        display: flex;
                        justify-content: space-between;
                        border-top: 1px solid gray;

                        input{
                            width: 100%;               
                            background-color: #fafafa;
                            padding: 10px;
                            border: 1px none;
                        }
                        
                        button{
                            width: 60px;
                            color: blue;
                            opacity: 0.8;
                            background-color: #fafafa; 
                            border: 1px;
                        }
                    }                   
                }
            }       
        }

        .main-right{
            width: 300px;
            border: 0;
        
            .righttop{
                display: flex;
                align-items: flex-start;

                .kidpepe{
                    width: 60px;
                    border: 1px solid gray;
                    border-radius: 50%;
                    margin-right: 0;
                }
            
                .descriptions{                                                                                                                           
                    list-style: none;
                    font-size: 15px;
                }
            }
                   
            .story{
                border: 1px solid gray;
                padding: 10px;
                margin-top: 15px;
            
                .storytop{
                    padding: 10px 20px;
                    display: flex;
                    justify-content: space-between;
                }
                
                .storydiv{                 
                    padding: 10px;
                    list-style: none;
        
                    li{
                        display: flex;
                        padding: 10px;

                        img{
                            width: 40px;
                            border: 1px solid red;
                            border-radius: 50%;
                            padding: 3px;
                        }
                        .nicktime{
                            display: flex;
                            flex-direction: column;
                            padding: 7px 12px;
                            font-size: 12px;
    
                            .time{
                                color: gray;
                            }
                        }        
                    }
                }
            }           
            
            .recom{
                border: 1px solid gray;
                padding: 10px;
                margin-top: 15px;
            
                .recomtop{
                    padding: 10px 20px;
                    display: flex;
                    justify-content: space-between;
                }

                 .recomdiv{
                         display: flex;
                         justify-content: space-around;
                         padding: 10px;

                         img{
                                width: 40px;
                                border: 1px solid none;
                                border-radius: 50%;
                            }

                         .recomfr{
                                display: flex;
                                flex-direction: column;
                                padding: 7px 12px;
                                font-size: 12px;  
                              
                                .time{
                                    color: gray;
                                }
                            }
                    
                        button{
                                width: 60px;
                                color: rgb(55, 155, 235);
                                background-color: #fafafa; 
                                border: 1px;
                            } 
                        }
            }
        }
}