.super_log_main {
  margin: auto;
  border: 2px solid rgba(189, 178, 177, 0.5);
  width: 600px;
  height: 700px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.header_log {
  font-family: ‘Lobster’, cursive;
  font-size: 80px;
  text-align: center;
  padding-top: 50px;
}

.main_log_page {
  margin: 100px auto 10px auto;
  text-align: center;

  input {
    width: 400px;
    height: 60px;
    border-radius: 5px;
    border: 2px solid rgba(221, 228, 240, 0.5);
  }

  button {
    width: 408px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid rgba(189, 178, 177, 0.5);
    margin-top: 15px;
    background-color: #9ebbe6;
  }

  .main_log_pwd {
    margin-top: 15px;
  }
}
.log_page_footer {
  color: #3d66a8;
  text-align: center;
  padding-top: 50px;
}
